<ion-header>
    <ion-toolbar>
        <ion-title>Real Estates</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-row>
        <ion-col *ngFor="let model of RealEstates" [routerLink]="['/real-estate/', model.id]" size-md="4">
            <ion-card>
                <img src="{{model.poster}}"/>
                <ion-card-content>
                    <ion-card-title>
                        {{model.title}}
                    </ion-card-title>
                    <p>
                        {{model.description | slice:0:200}}
                    </p>
                </ion-card-content>
                <ion-card-content>
                    <ion-row style="text-align: center; font-size: 1.5em">
                        <ion-col text-center><ion-icon name="bed"></ion-icon> {{model.bedroomsCount}}</ion-col>
                        <ion-col text-center><ion-icon name="car"></ion-icon> {{model.bathroomsCount}}</ion-col>
                        <ion-col text-center *ngIf="model.garageCount != 0"><ion-icon name="car"></ion-icon> {{model.garageCount}}</ion-col>
                    </ion-row>
                </ion-card-content>
            </ion-card>
        </ion-col>
    </ion-row>
</ion-content>
