<ion-header>
    <ion-toolbar>
        <ion-title>HEC{{model.id}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <img src="{{model.poster}}"/>
        <ion-card-content>
            <ion-card-title>
                {{model.title}}
            </ion-card-title>
            <p>
                {{model.description}}
            </p>
        </ion-card-content>
        <ion-card-content>
            <ion-row>
                <ion-col *ngFor="let image of model.images" size="12" size-md="4">
                    <img src="{{image.url}}" alt="">
                </ion-col>
            </ion-row>
        </ion-card-content>
    </ion-card>
</ion-content>
