<ion-header>
    <ion-toolbar>
        <ion-title *ngIf="model!=null">HEC{{model.id}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <img *ngIf="model!=null" src="{{model.poster}}"/>
    <ion-card-content *ngIf="model!=null">
        <ion-card-title>
            {{model.title}}
        </ion-card-title>
        <p>
            {{model.description}}
        </p>

        <ion-grid style="text-align: center; font-size: 2em">
            <ion-row>
                <ion-col>
                    <ion-button expand="block" size="large" href="tel:+5352381595">+53 52382595</ion-button>
                </ion-col>
                <ion-col>
                    <ion-row>
                        <ion-col>
                            <ion-button expand="block" size="large" href="https://m.me/hogarencuba">
                                <ion-icon name="play"></ion-icon>
                            </ion-button>
                        </ion-col>
                        <ion-col>
                            <ion-button expand="block" size="large" href="https://t.me/hogarencuba">
                                <ion-icon name="play"></ion-icon>
                            </ion-button>
                        </ion-col>
                        <ion-col>
                            <ion-button expand="block" size="large" href="https://wa.me/5352181595">
                                <ion-icon name="play"></ion-icon>
                            </ion-button>
                        </ion-col>
                    </ion-row>
                </ion-col>
            </ion-row>
        </ion-grid>

        <ngx-gallery [options]="galleryOptions" [images]="images"></ngx-gallery>
    </ion-card-content>
</ion-content>
